# IDE #
pom.xml.versionsBackup
*.iml
.idea/*
*.class
**/.idea/*


# MVN #
target/

# Mac specific #
.DS_store
*/.DS_store

valuenetwork/
venv/
dnn-*/
dqn/
mcts*.txt

bleach/
bleach*/
enum/
enum*/
external/
google/
html5lib/
html5lib*/
markdown/
Markdown*/
numpy/
numpy*/
pkg_resources/
protobuf*/
setuptools/
setuptools*/
six*/
tensor*/
werkzeug/
Werkzeug*/
protobuf*
six.py

